extends frag/framework

block style
    link(rel='stylesheet',href='/static/css/icomoon.css')
    style
        :stylus
            .yahei
                font-family "Microsoft YaHei"

            .test
                background #000000

            footer
                z-index 5

            //body,html
            //    min-width 400px
            .slider.fullscreen
                z-index -1
                position fixed

            .login
                width 100%
                .card
                    .face
                        img
                            border 1px solid #cccccc
                    .card-content
                        padding-bottom 12px
                    .card-action
                        #onLogin
                            margin-left 20px
                    .card-action a.btn-flat
                        color #65BEF3 !important
                    .card-action a.btn-flat:hover
                        color #8ed7ff !important
                    .card-action .action
                        min-width 120px
                .row
                    margin-bottom 0
                .collection
                    margin-top 0
                    margin-bottom 12px
                    .collection-item
                        padding 0px 10px
                    //last input border
                    .collection-item:last-child
                        border-bottom 1px solid #FFFFFF
                    .collection-item:last-child:focus
                        border-bottom 1px solid #26a69a
                .card-content input
                    height 2rem
                .card-reveal
                    input
                        height 2.5rem
                        margin-bottom 12px
                    div.action
                        display inline
                    > .row > .col:last-of-type
                        padding-top 1rem

                .btn-flat
                    padding 0 1rem
                    height 2rem
                    margin-bottom 2px
                .card-reveal .input-field:first-of-type
                    margin-top 2rem
                .resMsg
                    height 14px
                    font-size 14px
                    color #ff755d
                    display inline
                .p_inline
                    display: inline
                    line-height inherit
                @media only screen and (max-width: 600px)
                    .face
                        width 50%
                        margin 20px auto

                    .collection
                        margin 20px auto

                    .card-content input, .card-reveal input
                        height 3rem

                    .card-reveal
                        .input-field
                            height 4rem
                            margin 5% auto
                        div.action
                            display block
                        > .row > .col:last-of-type .btn.action
                            margin 10%
                            width 80%

                    .btn-flat.action
                        padding 0 1rem
                        height 3rem
                        margin 20px auto

                    .btn-flat.action:last-of-type
                        float right !important


block content
    main.valign-wrapper
        div.login.valign
            div.row
                div.col.s12.m8.l4.offset-m2.offset-l4
                    div.card.hoverable
                        div.card-image
                            img(src=title_img)
                            span.card-title.yahei 宝贝吧友♂尽牌对战平台
                        div.card-content
                            div.row
                                div.col.s12.m3
                                    div.face
                                        img.circle.responsive-img(src=default_face)
                                div.col.s12.m6
                                    div.collection
                                        input#usr(type="text",placeholder="用户名/邮箱/手机号").collection-item.validate
                                        input#pwd(type="password",placeholder="密码").collection-item.validate
                                    p.center
                                        input#ifRemember(type="checkbox")
                                        label.yahei(for="ifRemember") 记住密码
                                div.col.s12.m3
                                    a#toSign.btn-flat.waves-effect.waves-teal.yahei.grey-text.text-lighten-1.action.activator 注册账号
                                    a.btn-flat.waves-effect.waves-teal.yahei.grey-text.text-lighten-1.action(href="/forget") 忘记密码

                        div.card-reveal
                            span.card-title.grey-text.text-darken-4.yahei 注册
                                i.material-icons.right close
                            div.row
                                div.input-field.col.s12
                                    input#i1.validate.yahei(type="text",placeholder="")
                                    label.yahei(for="i1") 手机号/邮箱
                                div.input-field.col.s12
                                    input#i2.validate.yahei(type="text",placeholder="")
                                    label.yahei(for="i2") 昵称
                                div.input-field.col.s12
                                    input#i3.validate.yahei(type="password",placeholder="")
                                    label.yahei(for="i3",data-error="") 密码
                                div.input-field.col.s12.yzm
                                    div.row
                                        div.col.s6.m8.no-padding
                                            input#i4.validate.yahei(type="text",placeholder="")
                                            label.yahei(for="i4",data-error="") 验证码
                                        div.col.s6.m4
                                            a#onVfc.waves-effect.waves-light.white-text.btn.right.yahei.action 点击获取
                                div.col.s12
                                    div.action
                                        input#ifAgree(type="checkbox")
                                        label.yahei(for="ifAgree") 已阅读并同意
                                        a.teal-text.text-lighten-4.bold.modal-trigger.yahei(href="#usrAgreement") 《服务协议》
                                    div#onSigning.preloader-wrapper.small
                                        div.spinner-layer.spinner-red-only
                                            div.circle-clipper.left
                                                div.circle
                                            div.gap-patch
                                                div.circle
                                            div.circle-clipper.right
                                                div.circle
                                    a#onSign.waves-effect.waves-light.white-text.btn.right.yahei.action 注册
                        div.card-action
                            a.btn-flat.waves-light
                                i.icon-qq.left
                                | QQ
                            a#onLogin.waves-effect.waves-light.white-text.btn.right.yahei.action 登陆
                            div#onLogining.preloader-wrapper.small.right
                                div.spinner-layer.spinner-red-only
                                    div.circle-clipper.left
                                        div.circle
                                    div.gap-patch
                                        div.circle
                                    div.circle-clipper.right
                                        div.circle
        //usrAgreement
        div#usrAgreement.modal.modal-fixed-footer
            div.modal-content
                h4.yahei 用户协议
                p.yahei 等咱找个文案再慢慢写……
            div.modal-footer
                a.modal-action.modal-close.waves-effect.waves-green.btn.yahei 同意
                a.modal-action.modal-close.waves-effect.waves-red.btn-flat.red-text.yahei 拒绝
        //slider bg
        div.slider.fullscreen
            ul.slides
                each s in slides
                    li
                        img(src=s.img)
    script.
        (function(){
            $('.slider').slider({full_width: true,interval:3000,indicators:false})
            $('#toSign').click(function(){$("html,body").animate({scrollTop:0},600)})

            $("#onLogin").click(function () {
                //var postObj={pass : hex_sha1($("#pwd").val())}
                var postObj={pass : $("#pwd").val()}
                var usr = $("#usr").val()
                if (!usr || !postObj.pass)
                    return Materialize.toast('请填写完整信息~', 4000)
                if (/^[0-9]{11}$/.test(usr))
                    postObj.tel=usr
                else if(/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/.test(usr))
                    postObj.email=usr
                else
                    return Materialize.toast('请填写正确信息~', 4000)

                $("#onLogining").addClass("active")
                ajax("/user/login?rd=" + Math.random().toString(36).substr(2), 'POST', JSON.stringify(postObj)
                , function (err, res) {
                    $("#onLogining").removeClass("active")
                    if (err) console.log(err)
                    res = JSON.parse(res)
                    if (res.result == 200) {
                        return window.location = "/m"
                        /*?rd="+Math.random().toString(36).substr(2)*/
                    }else {
                        return swal({
                            title: "账户或密码错误~",
                            type: 'error',
                            showConfirmButton: false,
                            allowOutsideClick: true,
                            timer: 820
                        })
                    }
                })
            })
            /*
            $("#i3").blur(function () {
                if ($("#i3").val() != $("#i4").val()) {
                    $("#i4").toggleClass("invalid", true)
                } else {
                    $("#i4").toggleClass("invalid", false)
                }
            })

            $("#i4").blur(function () {
                if ($("#i3").val() != $("#i4").val()) {
                    $("#i4").toggleClass("invalid", true)
                } else {
                    $("#i4").toggleClass("invalid", false)
                }
            })
            */
            $("#onSign").click(function () {
                if (!$("#i1").val()||!$("#i2").val() || !$("#i3").val() || !$("#i4").val())
                    return Materialize.toast('请填写完整信息~', 4000)
                /*
                if ($("#i3").val() != $("#i4").val())
                    return Materialize.toast('两次输入密码不匹配。', 4000)
                */
                $("#onForgeting").addClass("active")
                var ifMsg = $("#ifAgree").prop('checked')
                if(!ifMsg)
                     return swal({
                         title: "不同意还玩个j8啊。",
                         type: 'error',
                         showConfirmButton: false,
                         allowOutsideClick: true,
                         timer: 820
                     })
                if ( $("#i4").val() != "1027")
                    return swal({
                        title: "验证码是1027。_(:зゝ∠)_",
                        type: 'error',
                        showConfirmButton: false,
                        allowOutsideClick: true,
                        timer: 820
                    })
                //var postObj = { account : $("#i2").val(),pass: hex_sha1($("#i3").val())}
                var postObj = { account : $("#i2").val(),pass: $("#i3").val()}
                var usr = $("#i1").val()
                if (!usr || !postObj.pass||!postObj.account)
                    return Materialize.toast('请填写完整信息~', 4000)
                if (/^[0-9]{11}$/.test(usr))
                    postObj.tel = usr
                else if (/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/.test(usr))
                    postObj.email = usr
                ajax('/user/signup?rd=' + Math.random().toString(36).substr(2), 'POST',JSON.stringify(postObj), function (err, res) {
                    $("#onSigning").removeClass("active")
                    if (err) console.log(err)
                    res = JSON.parse(res)
                    if (res.result == 200) {
                        return window.location = "/m"
                    } else {
                        return swal({
                            title: "我也不知道为什么出错了oAo",
                            type: 'error',
                            showConfirmButton: false,
                            allowOutsideClick: true,
                            timer: 820
                        })
                    }
                })
            })
        })()

        function ajax(path, method, data, callback) {
            if (!callback) callback = data
            $.ajax({
                url: path, type: method, cache: false, data: data,contentType:"application/json;charset=utf-8",
                beforeSend: function () {
                    jQuery("footer>.ajaxLoad").fadeIn(200)
                },
                complete: function (res) {
                    jQuery("footer>.ajaxLoad").fadeOut(200)
                    if (res.status == 0) Materialize.toast('网络故障……', 4000)
                    if (res.status == 403) Materialize.toast('服务器残忍地拒绝了这次请求', 4000)
                    if (res.status == 404) Materialize.toast('服务器懵逼了', 4000)
                    if (res.status == 500) Materialize.toast('服务器傻掉了', 4000)
                    callback(res.responseText.code, res.responseText)
                }
            })
        }