extends frag/framework

block style
    style
        :stylus
            html,body,main,.hall
                height 100%
            .yahei
                font-family "Microsoft YaHei"!important
            .slider.fullscreen
                z-index -1
                position fixed
            .hall.row
                padding 4rem 0
                margin 0
                .col
                    height 100%
                    .rooms
                        height 100%
                        min-height 380px
                        overflow hidden
                        blockquote
                            margin 0
                        .card.card-search
                            input
                                display block
                                font-size 16px
                                font-weight 300
                                width 100%
                                height 36px
                                margin 0
                                padding 0 45px 0 15px
                                border 0
                                outline none
                                box-shadow: none
                                -webkit-transition: all 0.3s
                                -moz-transition: all 0.3s
                                -ms-transition: all 0.3s
                                -o-transition: all 0.3s
                                transition: all 0.3s
                            i
                                position: absolute
                                top: 5px
                                right: 10px
                                cursor: pointer;
                        .rooms-content
                            height calc(100% - 42px)!important
                            .rooms-content-scroll
                                margin 0 auto
                                height: 100%
                                overflow-y auto
                            .col
                                padding 0.8rem
                                .room-block
                                    position relative
                                    height 8rem
                                    width 8rem
                                    border-radius 3px
                                    cursor: pointer
                                .room-block
                                    > div
                                        transition 0.6s ease-out
                                        position absolute
                                        width 100%
                                        height 2rem
                                        line-height: 2rem
                                        bottom 0
                                        display none
                                        background #FFFFFF
                                        opacity 0.5
                                        cursor pointer
                                        p
                                            margin 0 auto
                                            text-align:center
                                    > i
                                        font-size: 4rem
                                        color #ee6e73
                                        margin: 0 auto
                                        display: none
                                .room-block-in
                                    > div
                                        display block
                                .room-block-dis
                                    background-color: #eeeeee
                                    >i
                                        display block
                                    >img
                                        display: none
                    .user
                        min-height 16rem
                        .progress
                            margin-top 2rem
                            height 1rem
                .max-btn
                    width 100%
                    height: 4rem
                    line-height: 4rem
                    margin 0.5rem 0


block content
    main
        div.row.hall.yahei
            div.col.l5.offset-l2.m7.offset-m1.s12
                div.card-panel.white.rooms
                    div.row
                        div.col.s8
                            blockquote.yahei.grey-text=room_name
                    div.rooms-content
                        div.rooms-content-scroll
                            div.row
                                -for(var i=0;i<8;i++)
                                    div.col
                                        div.room-block.grey.lighten-3.valign-wrapper
                                            i.material-icons.valign close
                                            div
                                                p=" "
                                            img.responsive-img.left(src="/static/img/space.png")
            div.col.l3.m3.s12
                div.card-panel.white.user
                    div.row
                        div.col.s12
                            div.row
                                div.col.s6
                                    img.circle.responsive-img(src="/static/img/default_face.jpg")
                                div.col.s6
                                    p.black-text.bold=user.nuc_base.account
                                    p.blue-text="Lv"+user.nuc_uno.level
                        div.col.s6
                            span 总局数&nbsp;&nbsp;&nbsp;
                            span.bold.blue-text=user.nuc_uno.game
                        div.col.s6
                            span 胜利&nbsp;&nbsp;&nbsp;
                            span.bold.blue-text=user.nuc_uno.win
                        div.col.s12
                            div.progress
                                div.determinate(style="width:"+user.nuc_uno.win/(user.nuc_uno.game==0?1:user.nuc_uno.game)*100+"%")
                a.waves-effect.waves-light.white-text.btn.max-btn.yahei 开始uno！
                a.waves-effect.waves-light.white-text.btn.max-btn.yahei 离开房间
        div.slider.fullscreen
            ul.slides
                each s in slides
                    li
                        img(src=s.img)

    script.
        (function () {
            $('.slider').slider({full_width: true, interval: 3000, indicators: false})

            $('.btn.max-btn').eq(1).click(function () {
                var ajaxFlag = true
                ajax("/m/room", 'DELETE', function (err, res) {
                    ajaxFlag = false
                    if (err) console.log(err)
                    res = JSON.parse(res)
                    if (res.result == 200) {
                        return window.location = "/m"
                    }
                    if (res.result == 403) {
                        return 0
                    }
                })
            })
        })()

        function ajax(path, method, data, callback) {
            if (!callback) callback = data
            $.ajax({
                url: path, type: method, cache: false, data: data,
                beforeSend: function () {
                    jQuery("footer>.ajaxLoad").fadeIn(200)
                },
                complete: function (res) {
                    jQuery("footer>.ajaxLoad").fadeOut(200)
                    if (res.status == 0) Materialize.toast('网络故障……', 4000)
                    if (res.status == 403) Materialize.toast('服务器残忍地拒绝了这次请求', 4000)
                    if (res.status == 404) Materialize.toast('服务器懵逼了', 4000)
                    if (res.status == 500) Materialize.toast('服务器傻掉了', 4000)
                    if (res.status == 200) try {
                        JSON.parse(res.responseText)
                    } catch (e) {
                        jQuery('main').append(res.responseText)
                    }
                    callback(res.responseText.code, res.responseText)
                }
            })
        }